<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
			<style type="text/css">
				h2,h4{
					
					text-align:left;
					}
				h2{
						color:rgb(255, 174, 0);
						padding:0.5%;
						background-color: darkblue;
						text-align:center;
						font-size:20px;
					}
					
				ol{
					text-align:left;
					}
					head,body{
						background-color:rgba(212, 212, 199, 0.815);
						margin:3%;
						font-size:20px;
					}
				
			</style>
	</head>
<body>
<h2> Address Book </h2>  
<h4> Make a choise: </h4>
	<ol>
		<li><a href="/add">Add contact</a><br><br></li>
		<li><a href ="/view">Show all contacts</a><br><br></li>
		<li><a href="/delete">Remove contact</a><br><br></li>
		<li><a href="/update">Change contact</a><br><br></li>
	</ol>
	 
</body>
</html>  